:root {
  --white: #ffffff;
  --teal: #588b8b;
  --ltgreen: #f1faee;
  --ltblue: #a8dadc;
  --red: #c8553d;
}
  /* background-color: var(--white); */

* {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}


.parallax {
  /* The image used */
  background-image: url("../assets/jess-long.jpeg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
