:root {
  --white: #ffffff;
  --teal: #588b8b;
  --ltgreen: #f1faee;
  --ltblue: #a8dadc;
  --red: #fe5f55;
}
/* background-color: var(--white); */

* {
  font-family: "Inter", sans-serif;
}

nav,
footer {
  background-color: var(--ltblue);
}
/*
footer.page-footer {
  margin-top: 0;
} */

#hello {
  background-image: linear-gradient(var(--ltgreen), var(--ltblue));
  /* width: 100%; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  /* text-shadow: 1px 1px 3px var(--teal); */
}

.btn {
  color: var(--teal);
}

#hero-text {
  padding-top: 20px;
  padding-left: 20px;
}

#tagline {
  margin: 0 0 40px 0;
}

.parallax {
  /* The image used */
  background-image: url("../assets/JLF-hero.png");

  /* Set a specific height */
  min-height: 650px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

a {
  font-weight: bold;
  /* background-color: var(--teal); */
  color: var(--red);
  /* padding: 1em 1.5em; */
  /* text-transform: uppercase; */
  text-decoration: none;
}

@keyframes bounce {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: translate(5px);
  }
  100% {
    transform: rotate(0deg);
  }
}

a:hover {
  text-shadow: 1px 1px 2px #bebebe;
  animation: bounce 1s;
  color: var(--red);
}
